<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.brizz.kamussunda">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activity.NomerActivity" android:label="@string/kat_nomer"/>
        <activity android:name=".Activity.KeluargaActivity" android:label="@string/kat_keluarga"/>
        <activity android:name=".Activity.WarnaActivity" android:label="@string/kat_warna"/>
        <activity android:name=".Activity.FrasaActivity" android:label="@string/kat_frasa"> </activity>
    </application>

</manifest>